<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

<div id="map">xx</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.

      function initMap() {
        var uluru = {lat: 13.805318, lng: 100.537599};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">SCG</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Hello</b>, My name is <b>Nopparit Phuwaketanon</b> ' +
            'This web site create for Documents Request and Invitation to SCG Career Showcase 2017 (Afternoon Round) '+
            'Heritage Site.</p>'+
            '<p>My Git Url, <a href="https://nopparit_ph@bitbucket.org/nopparit_ph/scg-zf3-starter-kit.git">'+
            'https://nopparit_ph@bitbucket.org/nopparit_ph/scg-zf3-starter-kit.git</a> <input type="button" id="sendEmail" value="send email to Line Manager" onclick="SendEmail()"/>'+
            '</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }

      function SendEmail()
        {
            alert( "Handler for .click() called." );
        }

      


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSovQVNtzugNUzHTOVUl0yri9Av9slEz0&callback=initMap">
    </script>
